fastapi>=0.115.14
uvicorn[standard]>=0.18.0
python-dotenv>=1.0.0
requests>=2.32.4
opencv-python>=4.11.0.86
numpy>=2.2.6
phonenumbers>=9.0.8

# Database & migrations
SQLAlchemy>=2.0.0
alembic>=1.10.0

# Security & auth
passlib[bcrypt]>=1.7.0
email-validator>=1.2.0

# File uploads & form parsing
python-multipart>=0.0.6
